<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Employee Admin</title>

        <!--STYLES-->
        <link rel="stylesheet" href="/styles/bootstrap-theme.css">
        <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/styles/bootstrap.css">
        <link rel="stylesheet" href="/styles/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.css"/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">

        <style>
            body {
                padding-top: 70px;
            }
            /* Customize container */
            @media (min-width: 768px) {
                .container {
                    max-width: 1024px;
                }
            }
            /* Customize container */
            @media (min-width: 1024px) {
                .container-fluid {
                    max-width: 1280px;
                }
            }
        </style>
        
    </head>
    <body>

        <!-- Fixed navbar -->
        <%- partial ('partials/navigation.ejs') %>

        <div class="container">
            <!-- include view here -->
            <%- body %>
        </div>


        <script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>
        

        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/read.js"></script>
        <script src="/js/create.js"></script>
        <script src="/js/main.js"></script>
        <!--SCRIPTS END-->

    </body>
</html>